h1{
    text-align: center;
    color: white;
    background-color: blue;
    border-left: 10px aqua solid;
    margin: 0px;
}
h2{
    margin: 10px;
    text-align: center;
    color: azure;
    background-color: black;
    border-left: 10px blueviolet solid;
}
.paragrafo{
    border-left: 10px fuchsia solid;
    margin-left: 500px;
    margin-right: 500px;
    background-color: cornflowerblue;
    color: snow;
    text-align: center;
}
a{
    text-align: right;
}