/*index*/

* {
    font-family: Century Gothic;
}
h1{
    text-align: center;
    color: black;
    margin: 10px;
}
h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.paragrafo{
    margin: 10px;
    padding: 3px;
    border-radius: 8px;
    background-color: darkviolet;
    color: snow;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0 15px 35px rgba(04,03,05,.25);
}
.link{
    text-align: center;
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    a:hover{
        cursor: pointer;
        color: black;
    }
    font-size: 16px; 
    display: flex;
    justify-content: center;
}
#Agenda{
    background-color: whitesmoke;
}

/*cadastro*/

#Cadastro{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nse{
    margin: 5px;
    text-align: center;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 15px 35px rgba(04,03,05,.25);
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: #fff;
    background-color: azure;
    box-sizing: border-box;
    box-shadow: 0 15px 35px rgba(04,03,05,.25);
}